

.tardis-3d-container {
  width: 163px;
  height: 268px;
  top: 10px;
  position: absolute;
  perspective: 1000px;
  margin:50px 0 0 500px;
}

.tardis {
  width: 100%;
  height: 100%;
  position: absolute;
  transform-style: preserve-3d;
  transform:rotateY(-12deg);
  transition: transform 1s ease;
  text-align:center;
  opacity:0;
}

.tardis div {
  width: 163px;
  height: 268px;
  display: block;
  position: absolute;
  background:url(../img/tardis-3d.png) top right no-repeat;
  backface-visibility:hidden;
}

.tardis .front {
  transform: rotateY(0deg) translateZ(75px);
  background-position:top left;
}

.tardis .back {
  transform: rotateY(180deg) translateZ(75px);
}

.tardis .right {
  transform: rotateY(90deg) translateZ(75px);
}

.tardis .left {
  transform: rotateY(-90deg) translateZ(75px);
}

.tardis .top {
  transform: rotateX(90deg) translateZ(75px) translateX(5px);
  width:151px;
  height:151px;
  background:#ccc url(../img/tardis-3d-top.png) top left no-repeat;
}

.tardis .bottom {
  transform: rotateX(-90deg) translateZ(186px);
  width:163px;
  height:163px;
  background:#1f3895;
  background-image:none;
}

.tardis {
  opacity:0;
  animation: appear 8s linear 1 1s, spin-start 2s ease-in 1 8.5s, spin 1.2s linear infinite 10.5s;
  animation-fill-mode:forwards;
}

.tardis-3d-container {
  animation: tardis-move 8s cubic-bezier(.14,.43,.79,.72) 1 10.5s forwards;
}

@keyframes appear {
    0% { opacity:0; }
    20% {opacity:.7; }
    40% {opacity:.05; }
    60% {opacity:.7; }
    80% {opacity:.05; }
    100% { opacity:1; }
}

@keyframes spin-start {
    from { transform: rotateY(-12deg); }
    to { transform: rotateY(-360deg); }
}

@keyframes spin {
    from { transform: rotateY(0deg); }
    to { transform: rotateY(-360deg); }
}

@keyframes tardis-move {
    0% { transform: translateX(0px) scale(1); }
    30% { transform: translateX(500px) scale(.6);}
    70% { transform: translateX(200px) scale(.1);}
    100% { transform: translateX(-90px) scale(0);}
}
